<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Todo</title>
    <link rel="stylesheet" href="/css/styles.css">
    {{#if darkMode}}
        <style>
            body {
                background: black;
                color: white;
            }

            .todo-list {
                background-color: white;
            }

            .todo-list-item {
                background-color: black;
            }

            .todo-list-empty {
                background-color: black;
            }
            .content-header {
                border-bottom: 1px solid white;
            }

            .content-footer {
                border-top: 1px solid white;
            }
        </style>
    {{/if}}
</head>
<body>
<div class="content-header">
    <div class="content-header-logo">
        <span class="logo-emoji">{{logo}}</span>
        <h1 class="content-header-title">{{title}}</h1>
    </div>
    <div class="content-header-progress">
        <span class="progress-emoji">{{state}}</span>
        <span class="progress-value">{{progress}}%</span>
    </div>
</div>
{{{body}}}
<div class="content-footer">
    todo-app {{version}} by @munterfi, @matthiasbilgerig
</div>
</body>
</html>
